{
    "presets": [
        "react",
        ["env", {
            "targets": {
                "browesers": "last 2 versions"
            },
            "loose": true,
            "modules": false
        }]
    ],
    "plugins": [
        "react-hot-loader/babel",
        "babel-plugin-transform-class-properties"
      ]
}